#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLE_AIENABLER_TEST
	bool "ai_messenger test example"
	default n
	select ENABLE_CURL
	---help---
		Enable the ai_messenger

config USER_ENTRYPOINT
	string
	default "ai_messenger_main" if ENTRY_EXAMPLE_AIENABLER_TEST
